version: '3.8'

services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "${RABBITMQ_NODE_PORT}:5672"
      - "${RABBITMQ_MANAGEMENT_PORT}:15672"
    networks:
      - erecepta-network
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_PASS}
    healthcheck:
      test: [ "CMD", "rabbitmqctl", "status" ]
      interval: 10s
      timeout: 5s
      retries: 5

  eureka:
    build: ./eureka
    container_name: eureka
    ports:
      - "${EUREKA_PORT}:${EUREKA_INTERNAL_PORT}"
    networks:
      - erecepta-network
    environment:
      ERECEPTA_EUREKA_PORT: ${EUREKA_INTERNAL_PORT}

  gateway:
    build: ./gateway
    container_name: gateway
    depends_on:
      - eureka

    networks:
      - erecepta-network
    ports:
      - "8080:8080"
    environment:
      APPLICATION_SECURITY_JWT_SECRET_KEY: ${JWT_SECRET_KEY}
      APPLICATION_SECURITY_JWT_EXPIRATION: ${JWT_EXPIRATION}
      ERECEPTA_EUREKA_PORT: ${EUREKA_INTERNAL_PORT}
      ERECEPTA_EUREKA_HOST: eureka

  identity-service:
    build: ./identity-service
    container_name: identity-service
    ports:
      - "${IDENTITY_SERVICE_PORT}:${IDENTITY_SERVICE_INTERNAL_PORT}"
    networks:
      - erecepta-network
    depends_on:
      rabbitmq:
        condition: service_healthy
      eureka:
        condition: service_started
    environment:
      SERVER_PORT: ${IDENTITY_SERVICE_INTERNAL_PORT}

      APPLICATION_SECURITY_JWT_SECRET_KEY: ${JWT_SECRET_KEY}
      APPLICATION_SECURITY_JWT_EXPIRATION: ${JWT_EXPIRATION}
      APPLICATION_ACTION_TOKEN_EXPIRATION: ${ACTION_TOKEN_EXPIRATION}

      SPRING_RABBITMQ_HOST: ${RABBITMQ_HOST}
      SPRING_RABBITMQ_PORT: ${RABBITMQ_NODE_PORT}
      SPRING_RABBITMQ_USERNAME: ${RABBITMQ_USER}
      SPRING_RABBITMQ_PASSWORD: ${RABBITMQ_PASS}

      ERECEPTA_EUREKA_PORT: ${EUREKA_INTERNAL_PORT}
      ERECEPTA_EUREKA_HOST: eureka

  visit-service:
    build: ./visit-service
    container_name: visit-service
    depends_on:
      rabbitmq:
        condition: service_healthy
      eureka:
        condition: service_started
    ports:
      - "${VISIT_SERVICE_PORT}:${VISIT_SERVICE_INTERNAL_PORT}"
    networks:
      - erecepta-network
    environment:
      SERVER_PORT: ${VISIT_SERVICE_INTERNAL_PORT}

      ERECEPTA_EUREKA_PORT: ${EUREKA_INTERNAL_PORT}
      ERECEPTA_EUREKA_HOST: eureka
      ERECEPTA_USER_CHANNEL: identity-service:9090

      SPRING_RABBITMQ_HOST: ${RABBITMQ_HOST}
      SPRING_RABBITMQ_PORT: ${RABBITMQ_NODE_PORT}
      SPRING_RABBITMQ_USERNAME: ${RABBITMQ_USER}
      SPRING_RABBITMQ_PASSWORD: ${RABBITMQ_PASS}

  notification-service:
    build: ./notification-service
    container_name: notification-service
    ports:
      - "${NOTIFICATION_SERVICE_PORT}:${NOTIFICATION_SERVICE_INTERNAL_PORT}"
    networks:
      - erecepta-network
    depends_on:
      rabbitmq:
        condition: service_healthy
    environment:
      SERVER_PORT: ${NOTIFICATION_SERVICE_INTERNAL_PORT}

      SPRING_MAIL_HOST: ${MAIL_HOST}
      SPRING_MAIL_PORT: ${MAIL_PORT}
      SPRING_MAIL_USERNAME: ${MAIL_USERNAME}
      SPRING_MAIL_PASSWORD: ${MAIL_PASSWORD}

      SPRING_RABBITMQ_HOST: ${RABBITMQ_HOST}
      SPRING_RABBITMQ_PORT: ${RABBITMQ_NODE_PORT}
      SPRING_RABBITMQ_USERNAME: ${RABBITMQ_USER}
      SPRING_RABBITMQ_PASSWORD: ${RABBITMQ_PASS}

      ERECEPTA_USER_CHANNEL: identity-service:9090

networks:
  erecepta-network:
    driver: bridge
