version: '3.8'

services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "${RABBITMQ_NODE_PORT}:5672"
      - "${RABBITMQ_MANAGEMENT_PORT}:15672"
    networks:
      - erecepta-network
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_PASS}
    healthcheck:
      test: [ "CMD", "rabbitmqctl", "status" ]
      interval: 10s
      timeout: 5s
      retries: 5

  identity-service:
    build: ./identity-service
    container_name: identity-service
    ports:
      - "${IDENTITY_SERVICE_PORT}:${IDENTITY_SERVICE_INTERNAL_PORT}"
    networks:
      - erecepta-network
    depends_on:
      rabbitmq:
        condition: service_healthy
    environment:
      SERVER_PORT: ${IDENTITY_SERVICE_INTERNAL_PORT}

      APPLICATION_SECURITY_JWT_SECRET_KEY: ${JWT_SECRET_KEY}
      APPLICATION_SECURITY_JWT_EXPIRATION: ${JWT_EXPIRATION}
      APPLICATION_ACTION_TOKEN_EXPIRATION: ${ACTION_TOKEN_EXPIRATION}

networks:
  erecepta-network:
    driver: bridge
