version: '3.8'

services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "${RABBITMQ_NODE_PORT}:5672"
      - "${RABBITMQ_MANAGEMENT_PORT}:15672"
    networks:
      - erecepta-network
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_PASS}
    healthcheck:
      test: [ "CMD", "rabbitmqctl", "status" ]
      interval: 10s
      timeout: 5s
      retries: 5

  eureka:
    build: ./eureka
    container_name: eureka
    ports:
      - "${EUREKA_PORT}:${EUREKA_INTERNAL_PORT}"
    networks:
      - erecepta-network
    environment:
      ERECEPTA_EUREKA_PORT: ${EUREKA_INTERNAL_PORT}

  gateway:
    build: ./gateway
    container_name: gateway
    depends_on:
      - eureka
    networks:
      - erecepta-network
    ports:
      - "21371:8080"
    environment:
      APPLICATION_SECURITY_JWT_SECRET_KEY: ${JWT_SECRET_KEY}
      APPLICATION_SECURITY_JWT_EXPIRATION: ${JWT_EXPIRATION}
      ERECEPTA_EUREKA_PORT: ${EUREKA_INTERNAL_PORT}
      ERECEPTA_EUREKA_HOST: eureka

  identity-service:
    build: ./identity-service
    container_name: identity-service
    ports:
      - "${IDENTITY_SERVICE_PORT}:${IDENTITY_SERVICE_INTERNAL_PORT}"
    networks:
      - erecepta-network
    depends_on:
      rabbitmq:
        condition: service_healthy
      eureka:
        condition: service_started
      identity-db:
        condition: service_healthy
    environment:
      SERVER_PORT: ${IDENTITY_SERVICE_INTERNAL_PORT}

      SPRING_DATASOURCE_URL: jdbc:oracle:thin:@identity-db:1521/${IDENTITY_DB_NAME}
      SPRING_DATASOURCE_USERNAME: ${IDENTITY_DB_USER}
      SPRING_DATASOURCE_PASSWORD: ${IDENTITY_DB_USER_PASSWORD}
      SPRING_DATASOURCE_DRIVER_CLASS_NAME: oracle.jdbc.OracleDriver

      SPRING_JPA_DATABASE_PLATFORM: org.hibernate.dialect.OracleDialect
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
      SPRING_JPA_SHOW_SQL: "true"

      APPLICATION_SECURITY_JWT_SECRET_KEY: ${JWT_SECRET_KEY}
      APPLICATION_SECURITY_JWT_EXPIRATION: ${JWT_EXPIRATION}
      APPLICATION_SECURITY_REFRESH_EXPIRATION: ${REFRESH_EXPIRATION}
      APPLICATION_ACTION_TOKEN_EXPIRATION: ${ACTION_TOKEN_EXPIRATION}

      SPRING_RABBITMQ_HOST: ${RABBITMQ_HOST}
      SPRING_RABBITMQ_PORT: ${RABBITMQ_NODE_PORT}
      SPRING_RABBITMQ_USERNAME: ${RABBITMQ_USER}
      SPRING_RABBITMQ_PASSWORD: ${RABBITMQ_PASS}

      ERECEPTA_EUREKA_PORT: ${EUREKA_INTERNAL_PORT}
      ERECEPTA_EUREKA_HOST: eureka

      ERECEPTA_USER_CHANNEL: "${ERECEPTA_USER_CHANNEL:-identity-service:9090}"

      ERECEPTA_ADMIN_EMAIL: "${ERECEPTA_ADMIN_EMAIL}"
      ERECEPTA_ADMIN_PASSWORD: "${ERECEPTA_ADMIN_PASSWORD}"
      ERECEPTA_ADMIN_PESEL: "${ERECEPTA_ADMIN_PESEL}"
      ERECEPTA_ADMIN_FIRST_NAME: "${ERECEPTA_ADMIN_FIRST_NAME}"
      ERECEPTA_ADMIN_LAST_NAME: "${ERECEPTA_ADMIN_LAST_NAME}"
      ERECEPTA_ADMIN_PHONE: "${ERECEPTA_ADMIN_PHONE}"
      ERECEPTA_ADMIN_GENDER: "${ERECEPTA_ADMIN_GENDER}"
      ERECEPTA_ADMIN_DATE_OF_BIRTH: "${ERECEPTA_ADMIN_DATE_OF_BIRTH}"

  patient-record-service:
    build: ./patient-record-service
    container_name: patient-record-service
    ports:
      - "${PATIENT_RECORD_SERVICE_PORT}:${PATIENT_RECORD_SERVICE_INTERNAL_PORT}"
    networks:
      - erecepta-network
    depends_on:
      eureka:
        condition: service_started
      postgres:
        condition: service_healthy
    environment:
      SERVER_PORT: ${PATIENT_RECORD_SERVICE_INTERNAL_PORT}

      ERECEPTA_EUREKA_PORT: ${EUREKA_INTERNAL_PORT}
      ERECEPTA_EUREKA_HOST: eureka

      ERECEPTA_USER_CHANNEL: "${ERECEPTA_USER_CHANNEL:-identity-service:9090}"
      ERECEPTA_MEDICATION_CHANNEL: ${ERECEPTA_MEDICATION_CHANNEL}

      POSTGRES_USER: ${POSTGRES_DB_USER}
      POSTGRES_PASSWORD: ${POSTGRES_DB_PASSWORD}

  medication-service:
    build: ./medication-service
    container_name: medication-service
    ports:
      - "${MEDICATION_SERVICE_PORT}:${MEDICATION_SERVICE_INTERNAL_PORT}"
    networks:
      - erecepta-network
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      SERVER_PORT: ${MEDICATION_SERVICE_INTERNAL_PORT}

      ERECEPTA_EUREKA_PORT: ${EUREKA_INTERNAL_PORT}
      ERECEPTA_EUREKA_HOST: eureka

      ERECEPTA_MEDICATION_CHANNEL: ${ERECEPTA_MEDICATION_CHANNEL}

      POSTGRES_USER: ${POSTGRES_DB_USER}
      POSTGRES_PASSWORD: ${POSTGRES_DB_PASSWORD}

  visit-service:
    build: ./visit-service
    container_name: visit-service
    depends_on:
      rabbitmq:
        condition: service_healthy
      eureka:
        condition: service_started
      postgres:
        condition: service_healthy
    ports:
      - "${VISIT_SERVICE_PORT}:${VISIT_SERVICE_INTERNAL_PORT}"
    networks:
      - erecepta-network
    environment:
      SERVER_PORT: ${VISIT_SERVICE_INTERNAL_PORT}

      ERECEPTA_EUREKA_PORT: ${EUREKA_INTERNAL_PORT}
      ERECEPTA_EUREKA_HOST: eureka
      ERECEPTA_USER_CHANNEL: identity-service:9090

      SPRING_RABBITMQ_HOST: ${RABBITMQ_HOST}
      SPRING_RABBITMQ_PORT: ${RABBITMQ_NODE_PORT}
      SPRING_RABBITMQ_USERNAME: ${RABBITMQ_USER}
      SPRING_RABBITMQ_PASSWORD: ${RABBITMQ_PASS}

      POSTGRES_USER: ${POSTGRES_DB_USER}
      POSTGRES_PASSWORD: ${POSTGRES_DB_PASSWORD}

  admin-service:
    build: ./admin-service
    container_name: admin-service
    depends_on:
      eureka:
        condition: service_started
    ports:
      - "${ADMIN_SERVICE_PORT}:${ADMIN_SERVICE_INTERNAL_PORT}"
    networks:
      - erecepta-network
    environment:
      SERVER_PORT: ${ADMIN_SERVICE_INTERNAL_PORT}

      ERECEPTA_EUREKA_PORT: ${EUREKA_INTERNAL_PORT}
      ERECEPTA_EUREKA_HOST: eureka
      ERECEPTA_USER_CHANNEL: identity-service:9090

  notification-service:
    build: ./notification-service
    container_name: notification-service
    networks:
      - erecepta-network
    depends_on:
      rabbitmq:
        condition: service_healthy
    environment:
      SERVER_PORT: ${NOTIFICATION_SERVICE_INTERNAL_PORT}

      SPRING_MAIL_HOST: ${MAIL_HOST}
      SPRING_MAIL_PORT: ${MAIL_PORT}
      SPRING_MAIL_USERNAME: ${MAIL_USERNAME}
      SPRING_MAIL_PASSWORD: ${MAIL_PASSWORD}

      SPRING_RABBITMQ_HOST: ${RABBITMQ_HOST}
      SPRING_RABBITMQ_PORT: ${RABBITMQ_NODE_PORT}
      SPRING_RABBITMQ_USERNAME: ${RABBITMQ_USER}
      SPRING_RABBITMQ_PASSWORD: ${RABBITMQ_PASS}

      MINIO_URL: ${MINIO_URL}
      MINIO_ACCESS_KEY: ${MINIO_ROOT_USER}
      MINIO_SECRET_KEY: ${MINIO_ROOT_PASSWORD}
      MINIO_PRESCRIPTIONS_BUCKET: ${MINIO_PRESCRIPTIONS_BUCKET}

  medical-documents-service:
    build: ./medical-documents-service
    container_name: medical-documents-service
    ports:
      - "${MEDICAL_DOCUMENTS_SERVICE_PORT}:${MEDICAL_DOCUMENTS_SERVICE_INTERNAL_PORT}"
    networks:
      - erecepta-network

    depends_on:
      rabbitmq:
        condition: service_healthy
      eureka:
        condition: service_started
      minio:
        condition: service_started
      postgres:
        condition: service_healthy
    environment:
      SERVER_PORT: ${MEDICAL_DOCUMENTS_SERVICE_INTERNAL_PORT}

      ERECEPTA_EUREKA_PORT: ${EUREKA_INTERNAL_PORT}
      ERECEPTA_EUREKA_HOST: eureka

      ERECEPTA_USER_CHANNEL: "${ERECEPTA_USER_CHANNEL:-identity-service:9090}"
      ERECEPTA_MEDICATION_CHANNEL: ${ERECEPTA_MEDICATION_CHANNEL}

      SPRING_RABBITMQ_HOST: ${RABBITMQ_HOST}
      SPRING_RABBITMQ_PORT: ${RABBITMQ_NODE_PORT}
      SPRING_RABBITMQ_USERNAME: ${RABBITMQ_USER}
      SPRING_RABBITMQ_PASSWORD: ${RABBITMQ_PASS}

      POSTGRES_USER: ${POSTGRES_DB_USER}
      POSTGRES_PASSWORD: ${POSTGRES_DB_PASSWORD}

  documents-generation-service:
    build: ./documents-generation-service
    container_name: documents-generation-service

    networks:
      - erecepta-network
    depends_on:
      rabbitmq:
        condition: service_healthy
      minio:
        condition: service_started
    environment:
      SERVER_PORT: ${DOC_GEN_SERVICE_INTERNAL_PORT}

      SPRING_RABBITMQ_HOST: ${RABBITMQ_HOST}
      SPRING_RABBITMQ_PORT: ${RABBITMQ_NODE_PORT}
      SPRING_RABBITMQ_USERNAME: ${RABBITMQ_USER}
      SPRING_RABBITMQ_PASSWORD: ${RABBITMQ_PASS}

      MINIO_URL: ${MINIO_URL}
      MINIO_ACCESS_KEY: ${MINIO_ROOT_USER}
      MINIO_SECRET_KEY: ${MINIO_ROOT_PASSWORD}
      MINIO_PRESCRIPTIONS_BUCKET: ${MINIO_PRESCRIPTIONS_BUCKET}

  minio:
    image: minio/minio
    container_name: minio
    ports:
      - "${MINIO_API_PORT}:9000"
      - "${MINIO_CONSOLE_PORT}:9001"
    command: [ "server", "/data", "--console-address", ":9001" ]
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    networks:
      - erecepta-network


  identity-db:
    image: gvenzl/oracle-xe:21-slim
    container_name: identity-db
    ports:
      - "${IDENTITY_DB_PORT}:1521"
    environment:
      ORACLE_PASSWORD: ${IDENTITY_DB_PASSWORD}
      APP_USER: ${IDENTITY_DB_USER}
      APP_USER_PASSWORD: ${IDENTITY_DB_USER_PASSWORD}
      ORACLE_DATABASE: ${IDENTITY_DB_NAME}
    volumes:
      - ./identity-service.sql:/container-entrypoint-initdb.d/init.sql
    networks:
      - erecepta-network
    healthcheck:
      test: [ "CMD", "sqlplus", "-L", "${IDENTITY_DB_USER}/${IDENTITY_DB_USER_PASSWORD}@//localhost:1521/${IDENTITY_DB_NAME}", "select 1 from dual;" ]
      interval: 10s
      timeout: 5s
      retries: 10

  postgres:
    image: postgres:15-alpine
    container_name: postgres
    ports:
      - "${POSTGRES_DB_PORT}:1521"
    environment:
      POSTGRES_USER: ${POSTGRES_DB_USER}
      POSTGRES_PASSWORD: ${POSTGRES_DB_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./postgres-init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - erecepta-network
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_DB_USER}" ]
      interval: 10s
      timeout: 5s
      retries: 5

networks:
  erecepta-network:
    driver: bridge
volumes:
  postgres_data: