# ports config
IDENTITY_SERVICE_PORT=12000
PATIENT_RECORD_SERVICE_PORT=12001
MEDICATION_SERVICE_PORT=12002
VISIT_SERVICE_PORT=12003
MEDICAL_DOCUMENTS_SERVICE_PORT=12004
ADMIN_SERVICE_PORT=12005
EUREKA_PORT=8761
RABBITMQ_NODE_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672

# identity service config
IDENTITY_SERVICE_INTERNAL_PORT=12000
EUREKA_INTERNAL_PORT=8761
JWT_SECRET_KEY=VGhpcy1pcy1teS1zZWN1cmUta2V5LTI1Ni1iaXRzLWxvbmc=
JWT_EXPIRATION=1h
REFRESH_EXPIRATION=7d
ACTION_TOKEN_EXPIRATION=15m

# notification service config
NOTIFICATION_SERVICE_INTERNAL_PORT=12001
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=

# patient record service config
PATIENT_RECORD_SERVICE_INTERNAL_PORT=12001

# medication service config
MEDICATION_SERVICE_INTERNAL_PORT=12002

# visit service config
VISIT_SERVICE_INTERNAL_PORT=12003

# medical documents service config
MEDICAL_DOCUMENTS_SERVICE_INTERNAL_PORT=12004

# admin service config
ADMIN_SERVICE_INTERNAL_PORT=12005

# document generation service config
DOC_GEN_SERVICE_INTERNAL_PORT=12006

# rabbitmq config
RABBITMQ_USER=user
RABBITMQ_PASS=password
RABBITMQ_HOST=rabbitmq

# grpc
ERECEPTA_USER_CHANNEL=identity-service:9090
ERECEPTA_MEDICATION_CHANNEL=medication-service:9090

#admin config
ERECEPTA_ADMIN_EMAIL=erecepta@example.com
ERECEPTA_ADMIN_PASSWORD=Admin1234!
ERECEPTA_ADMIN_PHONE=000000000
ERECEPTA_ADMIN_PESEL=70010155353
ERECEPTA_ADMIN_DATE_OF_BIRTH=1970-01-01
ERECEPTA_ADMIN_GENDER=MALE
ERECEPTA_ADMIN_FIRST_NAME=John
ERECEPTA_ADMIN_LAST_NAME=Admin

# MinIO config
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=password
MINIO_PRESCRIPTIONS_BUCKET=prescriptions
MINIO_URL=http://minio:9000

# Oracle Database - Identity Service
IDENTITY_DB_PORT=13000
IDENTITY_DB_PASSWORD=identity_password
IDENTITY_DB_USER=identity_user
IDENTITY_DB_USER_PASSWORD=password
IDENTITY_DB_NAME=IDENTITY_DB

# PostgresDB
POSTGRES_DB_PORT=13001
POSTGRES_DB_USER=user
POSTGRES_DB_PASSWORD=password