# ports config
IDENTITY_SERVICE_PORT=12000
PATIENT_RECORD_SERVICE_PORT=12001
MEDICATION_SERVICE_PORT=12002
VISIT_SERVICE_PORT=12003
MEDICAL_DOCUMENTS_SERVICE_PORT=12004
EUREKA_PORT=8761
RABBITMQ_NODE_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672

# identity service config
IDENTITY_SERVICE_INTERNAL_PORT=12000
EUREKA_INTERNAL_PORT=8761
JWT_SECRET_KEY=VGhpcy1pcy1teS1zZWN1cmUta2V5LTI1Ni1iaXRzLWxvbmc=
JWT_EXPIRATION=1h
ACTION_TOKEN_EXPIRATION=15m

# notification service config
NOTIFICATION_SERVICE_INTERNAL_PORT=12001
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=

# patient record service config
PATIENT_RECORD_SERVICE_INTERNAL_PORT=12001

# medication service config
MEDICATION_SERVICE_INTERNAL_PORT=12002

# visit service config
VISIT_SERVICE_INTERNAL_PORT=12003

# medical documents service config
MEDICAL_DOCUMENTS_SERVICE_INTERNAL_PORT=12004

# rabbitmq config
RABBITMQ_USER=user
RABBITMQ_PASS=password
RABBITMQ_HOST=rabbitmq

# grpc
ERECEPTA_USER_CHANNEL=identity-service:9090
ERECEPTA_MEDICATION_CHANNEL=medication-service:9090

#admin config
ERECEPTA_ADMIN_EMAIL=
ERECEPTA_ADMIN_PASSWORD=
ERECEPTA_ADMIN_PHONE=
ERECEPTA_ADMIN_PESEL=
ERECEPTA_ADMIN_DATE_OF_BIRTH=
ERECEPTA_ADMIN_GENDER=
ERECEPTA_ADMIN_FIRST_NAME=
ERECEPTA_ADMIN_LAST_NAME=