spring:
  application:
    name: gateway
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: identity-service
              uri: lb://identity-service
              predicates:
                - Path=/auth/**
              filters:
                - StripPrefix=1

application:
  security:
    jwt:
      secret-key: ${APPLICATION_SECURITY_JWT_SECRET_KEY}
      expiration: ${APPLICATION_SECURITY_JWT_EXPIRATION:1h}
  action-token:
    verification-expiration: ${APPLICATION_ACTION_TOKEN_VERIFICATION_EXPIRATION:15m}

eureka:
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: http://localhost:${ERECEPTA_EUREKA_PORT}/eureka