spring:
  application:
    name: gateway
  cloud:
    gateway:
      server:
        webmvc:
          routes:
            - id: identity-service
              uri: lb://identity-service
              predicates:
                - Path=/auth/**
              filters:
                - StripPrefix=1

eureka:
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: http://localhost:${ERECEPTA_EUREKA_PORT}/eureka