spring:
  application:
    name: gateway
  cloud:
    gateway:
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins: "*"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders: "*"
      server:
        webflux:
          routes:
            - id: identity-service
              uri: lb://identity-service
              predicates:
                - Path=/auth/**
              filters:
                - StripPrefix=1
            - id: visit-service
              uri: lb://visit-service
              predicates:
                - Path=/visit/**
              filters:
                - StripPrefix=1
                - Auth
            - id: patient-record-service
              uri: lb://patient-record-service
              predicates:
                - Path=/record/**
              filters:
                - StripPrefix=1
                - Auth
            - id: admin-service
              uri: lb://admin-service
              predicates:
                - Path=/admin/**
              filters:
                - StripPrefix=1
                - Auth
            - id: medication-service
              uri: lb://medication-service
              predicates:
                - Path=/medication/**
              filters:
                - StripPrefix=1
                - Auth
            - id: medical-documents-service
              uri: lb://medical-documents-service
              predicates:
                - Path=/prescriptions/**
              filters:
                - StripPrefix=1
                - Auth


application:
  security:
    jwt:
      secret-key: ${APPLICATION_SECURITY_JWT_SECRET_KEY}
      expiration: ${APPLICATION_SECURITY_JWT_EXPIRATION:1h}
  action-token:
    verification-expiration: ${APPLICATION_ACTION_TOKEN_VERIFICATION_EXPIRATION:15m}

eureka:
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: http://${ERECEPTA_EUREKA_HOST:localhost}:${ERECEPTA_EUREKA_PORT:8761}/eureka